#app{
    padding-top: 50px;
    height: 100%;
    overflow: hidden;
    position: relative;

    & ::-webkit-scrollbar {
        display:none;
    }

    @media($media-min-width){
        padding-top: 70px;
    }
}
