#app{
    padding: 25px 0;
    height: 100%;
    overflow: hidden;
    position: relative;

    & ::-webkit-scrollbar {
        display:none;
    }

    @media($media-min-width){
        padding: 35px 0;
    }
}
