/* Links
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: $link-colour;
    text-decoration: none;
    border-bottom: 1px solid $grey-light;
    font-weight: 500;
    transition: border-color 0.2s ease;

    &.center{
        display: table;
        margin: 0 auto;
    }
}

a:hover {
    border-color: $grey;
}
