/* Forms
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
    height: 38px;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: $grey-very-light;
    border: 2px solid transparent;
    box-shadow: none;
    width: 100%;
    border-radius: 5px;
    text-indent: 3px;
    transition: box-shadow 0.1s ease;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border: 1px solid $grey-light;
    box-shadow: 0px 5px 17px -10px rgba(51,51,51,0.4);
    outline: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

fieldset,
input,
select,
textarea {
    margin-bottom: 1em;
}
