label,
legend {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: lighter;
    font-family: $font-heading;
    font-size: 14px;
    margin-left: 2px;
}

fieldset {
    padding: 0;
    border-width: 0;
}
