# Node
/node_modules
npm-debug.log

# Composer
/vendor

# Laravel public folder
/public/storage
/public/hot
/public/mix-manifest.json
/public/css
/public/fonts
/public/images
/public/js

# Laravel storage
/storage/*.key

# Environment files
.env
