.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;

    &.padding{
        padding-top: 50px;
    }

    &.small{
        max-width: 350px;
    }
}

@media(min-width: 1024px){
    padding: 0;

    &.padding{
        padding-top: 70px;
    }
}
