div.dialog{
    width: 100%;
    height: 100%;
    background: $blue-gradient;
    color: $white;
    overflow: auto;

    button{
        color: $white;
        border-color: $white;
    }

    h1, h2, h3, h4, h5, h6, p{
        text-align: center;
    }

    a{
        color: $white;
    }

    .icon{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 0px;

        @media($media-min-width){
            padding-top: 150px;
            padding-bottom: 50px;
        }

        img{
            width: 100px;
            height: auto;
        }
    }
}
