// Component variables
$avatar-size: 50px;

nav{
    background: $blue-gradient;
    color: $white;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 1em;

        @media($media-min-width){
            height: 70px;

            img{
                height: 30px;
            }
        }
    }

    .left img{
        height: 25px;
    }

    .middle > img{
        height: 25px;
        margin-top: 6px;
    }

    .avatar{
        width: $avatar-size;
        height: $avatar-size;
        background-color: white;
        border-radius: 100%;
        overflow: hidden;
        background-size: cover;
    }
}
