/**========================================
 * COLORS
 =========================================*/

// Define raw colours
$black: #000000;
$white: #FFFFFF;
$grey-dark: #252525;
$grey: #686868;
$grey-light: #dedede;
$grey-very-light: #f5f5f5;
$blue: #00C1FF;
$blue-dark: #0098FF;

// Define brand colours
$brand-primary: $blue;
$brand-secondary: $blue-dark;

// Define gradients
$blue-gradient: linear-gradient(0deg, $blue-dark 0%, $blue 75%);
$grey-gradient: linear-gradient(-180deg, #888888 0%, $grey 75%);
$grey-dark-gradient: linear-gradient(-180deg, #444444 0%, $grey-dark 75%);

// Assign colours
$text-color: $black;
$link-colour: $grey;
$link-colour-hover: $grey-dark;

/**========================================
 * FONTS
 =========================================*/

// Define fonts
$roboto: 'Roboto', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;
$avenir: 'Avenir', 'Arial', sans-serif;

// Assign fonts
$font-heading: $avenir;
$font-text: $roboto;

/**========================================
 * OTHER
 =========================================*/
$border-radius: 11px;
$media-min-width: "min-width: 440px";
